body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a2c6f1;
    color: black;
}

header {
    background-color: #1e90ff;
    color:pink;
    padding: 20px;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.logo {
    width: 80px;
    height: auto;
}


nav {
    background-color: hsl(300, 7%, 94%);
    text-align: center;
    padding: 12px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #1e90ff;
    margin: 0 15px;
}


.card {
    background-color: rgb(236, 234, 234);
    max-width: 900px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.card h2 {
    color: #1e90ff;
}


ul {
    line-height: 1.8;
}


footer {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 20px;
}